.assignlist {
  background-color: #e2e8e9;
  border-radius: 10px;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.assignlist:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.assignlist > div:first-child {
  font-size: 22px;
  font-weight: bold;
  color: black;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}

thead {
  background-color: #34495e;
  color: white;
}

th,
td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
